upstream myapp {
  server {{ ip_address }}:8080;
}

server {
  listen 80;
  server_name www.{{ myapp_domain }};
  return 301 http://{{ myapp_domain }}$request_uri;
}

server {
  listen 80;
  server_name {{ myapp_domain }};
  root /var/www/myapp/application/public; 
  client_max_body_size 4G;
  keepalive_timeout 5;
  access_log /var/log/nginx/access.myapp.log;
    
  location ~ ^/assets/ {
    root /var/www/myapp/application/public; 
    gzip_static on;
    expires max;
    add_header Cache-Control public; 
    add_header ETag "";
    break;
  }

  location / {
    try_files $uri @app;
  }

  location @app {
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for; 
    proxy_set_header Host $http_host;
    proxy_redirect off;
    proxy_pass http://myapp;
  } 
}